name: Vue publish
on:
  pull_request:
  push:
    branches:
      - 'main'
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - run: yarn install --immutable --immutable-cache --check-cache
      - run: yarn run build
      - run: yarn run test
      - uses: JS-DevTools/npm-publish@v2
        if: ${{ github.repository.name == 'fdm-monster-client' }}
        with:
          dry-run: true
          token: ${{ secrets.NPM_TOKEN }}
          package: package.json
