name: Vue publish
on:
  pull_request:
  push:
    branches:
      - 'main'
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v5
        with:
          node-version: 22.x
          cache: 'yarn'

      - run: yarn set version berry
      - run: yarn install --immutable
      - run: yarn run build
      - run: yarn run test:unit
      - uses: JS-DevTools/npm-publish@v4
        if: ${{ github.repository.name == 'fdm-monster-client' }}
        with:
          dry-run: true
          token: ${{ secrets.NPM_TOKEN }}
          package: package.json
